@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-y: hidden;
    position: relative;
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visuals {
    width: 400px;
    height: 500px;
    color: rgb(0, 255, 0);
    /* border: 2px solid rgb(0, 255, 0); */
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    word-wrap: break-word;
    transition: all 2s ease-in-out 0s;
}

.rotate-center {
    -webkit-animation: rotate-center 3s ease-in-out infinite both;
    animation: rotate-center 3s ease-in-out infinite both;
}

.ping {
    -webkit-animation: ping 1.2s ease-in-out infinite alternate both;
    animation: ping 1.2s ease-in-out infinite alternate both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 1;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 1;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}