@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-y: hidden;
    position: relative;
}

.visuals {
    width: 400px;
    height: 500px;
    color: rgb(0, 255, 0);
    /* border: 2px solid rgb(0, 255, 0); */
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    word-wrap: break-word;
}

.btn-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 50px;
}

button.myButton{
    background-color: #fff;
    padding: 5px 20px;
}
